.navbar {
    padding: 1rem;
    align-items: center;
}
  
.navbar-title {
    text-align: center;
    font-family: 'Raleway';
    font-size: 40px;
    align-items: center;
}

button {
    width: 250px;
    border-radius: 100vh;
    background-color:rgba(230, 226, 226, 0.922);
    font-family: 'Raleway';
    font-size: 20px;
    margin-left: 100px;
}